## 5. Proportion of the most consumed beverage type worldwide

In this analysis, we aim to understand which type of alcoholic beverage is the most consumed globally.

In [1]:
import pandas as pd

In [2]:
datasetPath = '../../data/drinks.csv'
df = pd.read_csv(datasetPath)

In [3]:
total_beer = df['beer_servings'].sum()
total_wine = df['wine_servings'].sum()
total_spirit = df['spirit_servings'].sum()

totals = pd.DataFrame({
    'Beverage': ['Beer', 'Wine', 'Spirits'],
    'Total Servings': [total_beer, total_wine, total_spirit]
})

totals_sorted = totals.sort_values(by='Total Servings', ascending=False).reset_index(drop=True)

display(totals_sorted)

  Beverage  Total Servings
0     Beer           20489
1  Spirits           15632
2     Wine            9544