Data Analysis

1. Análise exploratória dos dados

2. Ranking de consumo por tipo de bebida
Classificar os países com maior e menor consumo médio de cerveja, de vinho e de destilados por pessoa por ano.

3. Ranking geral de consumo de álcool
Classificar os países com maior e menor consumo médio total de álcool por pessoa.

4. Proporção entre os tipos de bebida por país
Analisar a proporção de cerveja, vinho e destilado em relação ao total consumido em cada país.

5. Países que mais concentram um único tipo de bebida
Identificar países onde o consumo de álcool é dominado majoritariamente por um só tipo (ex: só cerveja).

6. Correlação entre tipos de bebida
Verificar correlação entre o consumo de cerveja e vinho, por exemplo. Será que quem consome muito vinho consome menos cerveja?

7. Proporção do tipo de bebida mais consumido no mundo
Em média mundial, qual tipo de bebida representa a maior parte do álcool consumido?

Dependencies

In [1672]:
import pandas as pd
from matplotlib import pyplot as plt

## 1. Análise exploratória dos dados.

In [1673]:
datasetPath = '../data/drinks.csv'
df = pd.read_csv(datasetPath)

O atributo shape do DataFrame indica quantas linhas e colunas existem no dataset.

Neste caso, existem 193 linhas, com 5 colunas.

In [1674]:
df.shape

(193, 5)

O método head retorna as 5 primeiras linhas do dataset.

Isto é útil para um entendimento inicial da estrutura dos dados.

In [1675]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

O método describe fornece informações diversas sobre o dataset.

In [1676]:
df.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

O atributo dtypes indica o tipo de cada coluna do dataset.

In [1677]:
df.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

A matriz de correlação é uma estrutura que indica o índice de correlação entre as variáveis.

Quanto maior o valor, mais relacionadas são as variáveis.

In [1678]:
df_numeric = df.select_dtypes(include=['int64', 'float64'])
corr_matrix = df_numeric.corr()
display(corr_matrix)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
beer_servings,1.000000,0.458819,0.527172,0.835839
spirit_servings,0.458819,1.000000,0.194797,0.654968
wine_servings,0.527172,0.194797,1.000000,0.667598
total_litres_of_pure_alcohol,0.835839,0.654968,0.667598,1.000000

Verificação se existem valores vazios.

In [1679]:
df.isna().sum()

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
dtype: int64

## 1. Ranking de consumo por tipo de bebida.
Nesta etapa o objetivo é identificar quais países mais consomem cada tipo de bebida e quais menos consomem.

In [1680]:
def filter_greather_than_zero(df: pd.DataFrame, column: str) -> pd.DataFrame:
    return df.query(f'{column} > 0')

def get_ranking(df: pd.DataFrame, column: str, ascending: bool, head_amount: int) -> pd.DataFrame:
    return df.sort_values(by=column, ascending=ascending).head(head_amount)

def print_ranking(df: pd.DataFrame, column: str, ascending: bool, head_amount: int) -> None:
    # Exibe apenas as colunas 'country' e a especificada por 'column'.
    display(df[['country', column]])

    print(f"\nTop {head_amount} países com {'menor' if ascending else 'maior'} consumo de {column}:")
    for i, row in enumerate(df.itertuples(index=False), start=1):
        print(f"{i}º {row.country} - {getattr(row, column)}")

### 1.2. Consumo de cerveja.

In [1681]:
# Número de registros a serem considerados no ranking.
beer_servings_head_amount = 10

# Filtro de registros que possuem consumo de cerveja maior que 0.
df_beer_servings_grather_than_zero = filter_greather_than_zero(df, 'beer_servings')

In [1682]:
# Gera ranking dos países que menos consomem cerveja.
df_beer_servings_asc = get_ranking(df_beer_servings_grather_than_zero, 'beer_servings', True, beer_servings_head_amount)
print_ranking(df_beer_servings_asc, 'beer_servings', True, beer_servings_head_amount)

         country  beer_servings
38       Comoros              1
73         Haiti              1
137        Qatar              1
171  Timor-Leste              1
168   Tajikistan              2
123        Niger              3
78     Indonesia              5
119        Nepal              5
104         Mali              5
167        Syria              5

Top 10 países com menor consumo de beer_servings:
1º Comoros - 1
2º Haiti - 1
3º Qatar - 1
4º Timor-Leste - 1
5º Tajikistan - 2
6º Niger - 3
7º Indonesia - 5
8º Nepal - 5
9º Mali - 5
10º Syria - 5

In [1683]:
# Gera ranking dos países que mais consomem cerveja.
df_beer_servings_asc = get_ranking(df_beer_servings_grather_than_zero, 'beer_servings', False, beer_servings_head_amount)
print_ranking(df_beer_servings_asc, 'beer_servings', False, beer_servings_head_amount)

            country  beer_servings
117         Namibia            376
45   Czech Republic            361
62            Gabon            347
65          Germany            346
98        Lithuania            343
135          Poland            343
188       Venezuela            333
81          Ireland            313
129           Palau            306
140         Romania            297

Top 10 países com maior consumo de beer_servings:
1º Namibia - 376
2º Czech Republic - 361
3º Gabon - 347
4º Germany - 346
5º Lithuania - 343
6º Poland - 343
7º Venezuela - 333
8º Ireland - 313
9º Palau - 306
10º Romania - 297

### 1.2. Consumo de destilados.

In [1684]:
# Número de registros a serem considerados no ranking.
spirit_servings_head_amount = 10

# Filtro de registros que possuem consumo de destilados maior que 0.
df_spirit_servings_grather_than_zero = df.query('spirit_servings > 0')

# Registros ordenados de forma decrescente, para obter os maiores valores.
df_sorted_by_spirit_servings_desc = df_spirit_servings_grather_than_zero.sort_values(by='spirit_servings', ascending=False).head(spirit_servings_head_amount)

display(df_sorted_by_spirit_servings_desc)

print("\nTop 5 países com maior consumo de destilados:")
for i, row in enumerate(df_sorted_by_spirit_servings_desc.itertuples(index=False), start=1):
    print(f"{i}º {row.country} - {row.spirit_servings}")

# Registros ordenados de forma crescente, para obter os menores valores.
df_sorted_by_spirit_servings_asc = df_spirit_servings_grather_than_zero.sort_values(by='spirit_servings', ascending=True).head(spirit_servings_head_amount)

display(df_sorted_by_spirit_servings_asc)

print("\nTop 5 países com menor consumo de destilados (entre os que consomem):")
for i, row in enumerate(df_sorted_by_spirit_servings_asc.itertuples(index=False), start=1):
    print(f"{i}º {row.country} - {row.spirit_servings}")

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
68,Grenada,199,438,28,11.9
15,Belarus,142,373,42,14.4
73,Haiti,1,326,1,5.9
141,Russian Federation,247,326,73,11.5
144,St. Lucia,171,315,71,10.1
72,Guyana,93,302,1,7.1
155,Slovakia,196,293,116,11.4
50,Dominica,52,286,26,6.6
169,Thailand,99,258,1,6.4
40,Cook Islands,0,254,74,5.9

Top 5 países com maior consumo de destilados:
1º Grenada - 438
2º Belarus - 373
3º Haiti - 326
4º Russian Federation - 326
5º St. Lucia - 315
6º Guyana - 302
7º Slovakia - 293
8º Dominica - 286
9º Thailand - 258
10º Cook Islands - 254

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
31,Cameroon,147,1,4,5.8
34,Chad,15,1,1,0.4
28,Cote d'Ivoire,37,1,7,4.0
39,Congo,76,1,9,1.7
104,Mali,5,1,1,0.6
116,Myanmar,5,1,0,0.1
78,Indonesia,5,1,0,0.1
150,Senegal,9,1,7,0.3
171,Timor-Leste,1,1,4,0.1
24,Brunei,31,2,1,0.6

Top 5 países com menor consumo de destilados (entre os que consomem):
1º Cameroon - 1
2º Chad - 1
3º Cote d'Ivoire - 1
4º Congo - 1
5º Mali - 1
6º Myanmar - 1
7º Indonesia - 1
8º Senegal - 1
9º Timor-Leste - 1
10º Brunei - 2

### 1.3. Consumo de vinho.

In [1685]:
# Número de registros a serem considerados no ranking.
wine_servings_head_amount = 10

# Filtro de registros que possuem consumo de vinho maior que 0.
df_wine_servings_grather_than_zero = df.query('wine_servings > 0')

# Registros ordenados de forma decrescente, para obter os maiores valores.
df_sorted_by_wine_servings_desc = df_wine_servings_grather_than_zero.sort_values(by='wine_servings', ascending=False).head(wine_servings_head_amount)

display(df_sorted_by_wine_servings_desc)

print("\nTop 5 países com maior consumo de vinho:")
for i, row in enumerate(df_sorted_by_wine_servings_desc.itertuples(index=False), start=1):
    print(f"{i}º {row.country} - {row.wine_servings}")

# Registros ordenados de forma crescente, para obter os menores valores.
df_sorted_by_wine_servings_asc = df_wine_servings_grather_than_zero.sort_values(by='wine_servings', ascending=True).head(wine_servings_head_amount)

display(df_sorted_by_wine_servings_asc)

print("\nTop 5 países com menor consumo de vinho (entre os que consomem):")
for i, row in enumerate(df_sorted_by_wine_servings_asc.itertuples(index=False), start=1):
    print(f"{i}º {row.country} - {row.wine_servings}")

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
61,France,127,151,370,11.8
136,Portugal,194,67,339,11.0
3,Andorra,245,138,312,12.4
166,Switzerland,185,100,280,10.2
48,Denmark,224,81,278,10.4
156,Slovenia,270,51,276,10.6
99,Luxembourg,236,133,271,11.4
42,Croatia,230,87,254,10.2
83,Italy,85,42,237,6.5
55,Equatorial Guinea,92,0,233,5.8

Top 5 países com maior consumo de vinho:
1º France - 370
2º Portugal - 339
3º Andorra - 312
4º Switzerland - 280
5º Denmark - 278
6º Slovenia - 276
7º Luxembourg - 271
8º Croatia - 254
9º Italy - 237
10º Equatorial Guinea - 233

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
30,Cambodia,57,65,1,2.2
33,Central African Republic,17,2,1,1.8
34,Chad,15,1,1,0.4
24,Brunei,31,2,1,0.6
53,Egypt,6,4,1,0.2
59,Fiji,77,35,1,2.0
47,DR Congo,32,3,1,2.3
38,Comoros,1,3,1,0.1
63,Gambia,8,0,1,2.4
122,Nicaragua,78,118,1,3.5

Top 5 países com menor consumo de vinho (entre os que consomem):
1º Cambodia - 1
2º Central African Republic - 1
3º Chad - 1
4º Brunei - 1
5º Egypt - 1
6º Fiji - 1
7º DR Congo - 1
8º Comoros - 1
9º Gambia - 1
10º Nicaragua - 1

## 2. Ranking geral de consumo de álcool.
Classificação dos países com maior e menor consumo médio total de álcool por pessoa.

In [1686]:
# Número de registros a serem considerados no ranking.
total_litres_of_pure_alcohol_head_amount = 10

# Filtro de registros que possuem consumo de vinho maior que 0.
df_total_litres_of_pure_alcohol_grather_than_zero = df.query('total_litres_of_pure_alcohol > 0')

# Registros ordenados de forma decrescente, para obter os maiores valores.
df_sorted_by_total_litres_of_pure_alcohol_desc = df_total_litres_of_pure_alcohol_grather_than_zero.sort_values(by='total_litres_of_pure_alcohol', ascending=False).head(total_litres_of_pure_alcohol_head_amount)

display(df_sorted_by_total_litres_of_pure_alcohol_desc)

print("\nTop 5 países com maior consumo geral de álcool:")
for i, row in enumerate(df_sorted_by_total_litres_of_pure_alcohol_desc.itertuples(index=False), start=1):
    print(f"{i}º {row.country} - {row.total_litres_of_pure_alcohol}")

# Registros ordenados de forma crescente, para obter os menores valores.
df_sorted_by_total_litres_of_pure_alcohol_asc = df_total_litres_of_pure_alcohol_grather_than_zero.sort_values(by='total_litres_of_pure_alcohol', ascending=True).head(total_litres_of_pure_alcohol_head_amount)

display(df_sorted_by_total_litres_of_pure_alcohol_asc)

print("\nTop 5 países com menor consumo geral de álcool (entre os que consomem):")
for i, row in enumerate(df_sorted_by_total_litres_of_pure_alcohol_asc.itertuples(index=False), start=1):
    print(f"{i}º {row.country} - {row.total_litres_of_pure_alcohol}")

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
15,Belarus,142,373,42,14.4
98,Lithuania,343,244,56,12.9
3,Andorra,245,138,312,12.4
68,Grenada,199,438,28,11.9
45,Czech Republic,361,170,134,11.8
61,France,127,151,370,11.8
141,Russian Federation,247,326,73,11.5
99,Luxembourg,236,133,271,11.4
81,Ireland,313,118,165,11.4
155,Slovakia,196,293,116,11.4

Top 5 países com maior consumo geral de álcool:
1º Belarus - 14.4
2º Lithuania - 12.9
3º Andorra - 12.4
4º Grenada - 11.9
5º Czech Republic - 11.8
6º France - 11.8
7º Russian Federation - 11.5
8º Luxembourg - 11.4
9º Ireland - 11.4
10º Slovakia - 11.4

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
38,Comoros,1,3,1,0.1
123,Niger,3,2,1,0.1
116,Myanmar,5,1,0,0.1
78,Indonesia,5,1,0,0.1
171,Timor-Leste,1,1,4,0.1
190,Yemen,6,0,0,0.1
149,Saudi Arabia,0,5,0,0.1
70,Guinea,9,0,2,0.2
119,Nepal,5,6,0,0.2
53,Egypt,6,4,1,0.2

Top 5 países com menor consumo geral de álcool (entre os que consomem):
1º Comoros - 0.1
2º Niger - 0.1
3º Myanmar - 0.1
4º Indonesia - 0.1
5º Timor-Leste - 0.1
6º Yemen - 0.1
7º Saudi Arabia - 0.1
8º Guinea - 0.2
9º Nepal - 0.2
10º Egypt - 0.2

## 3. Proporção entre os tipos de bebida por país.
Analisar a proporção de cerveja, vinho e destilado em relação ao total consumido em cada país.

In [1687]:
# Calcular o total de porções por país (soma das três bebidas).
df_portions_ratio = df.copy()
df_portions_ratio['total_servings'] = df_portions_ratio['beer_servings'] + df_portions_ratio['spirit_servings'] + df_portions_ratio['wine_servings']

# Evitar divisão por zero.
df_portions_ratio_nonzero = df_portions_ratio[df_portions_ratio['total_servings'] > 0].copy()

# Calcular proporção de cada tipo de bebida.
df_portions_ratio_nonzero['beer_ratio'] = df_portions_ratio_nonzero['beer_servings'] / df_portions_ratio_nonzero['total_servings']
df_portions_ratio_nonzero['spirit_ratio'] = df_portions_ratio_nonzero['spirit_servings'] / df_portions_ratio_nonzero['total_servings']
df_portions_ratio_nonzero['wine_ratio'] = df_portions_ratio_nonzero['wine_servings'] / df_portions_ratio_nonzero['total_servings']

# Mostrar os dados com as proporções.
display(df_portions_ratio_nonzero)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,total_servings,beer_ratio,spirit_ratio,wine_ratio
1,Albania,89,132,54,4.9,275,0.323636,0.480000,0.196364
2,Algeria,25,0,14,0.7,39,0.641026,0.000000,0.358974
3,Andorra,245,138,312,12.4,695,0.352518,0.198561,0.448921
4,Angola,217,57,45,5.9,319,0.680251,0.178683,0.141066
5,Antigua & Barbuda,102,128,45,4.9,275,0.370909,0.465455,0.163636
...,...,...,...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,436,0.763761,0.229358,0.006881
189,Vietnam,111,2,1,2.0,114,0.973684,0.017544,0.008772
190,Yemen,6,0,0,0.1,6,1.000000,0.000000,0.000000
191,Zambia,32,19,4,2.5,55,0.581818,0.345455,0.072727
192,Zimbabwe,64,18,4,4.7,86,0.744186,0.209302,0.046512

### 3.1 Consumo de cerveja.

In [1688]:
df_portions_ratio_nonzero_sorted_by_beer_ratio_desc = df_portions_ratio_nonzero.query('beer_ratio > 0').sort_values(by='beer_ratio', ascending=False)

In [1689]:
df_portions_ratio_nonzero_top_5_beer_ratio = df_portions_ratio_nonzero_sorted_by_beer_ratio_desc.head(5)
display(df_portions_ratio_nonzero_top_5_beer_ratio)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,total_servings,beer_ratio,spirit_ratio,wine_ratio
19,Bhutan,23,0,0,0.4,23,1.000000,0.000000,0.000000
27,Burundi,88,0,0,6.3,88,1.000000,0.000000,0.000000
190,Yemen,6,0,0,0.1,6,1.000000,0.000000,0.000000
56,Eritrea,18,0,0,0.5,18,1.000000,0.000000,0.000000
117,Namibia,376,3,1,6.8,380,0.989474,0.007895,0.002632

In [1690]:
df_portions_ration_nonzero_bottom_5_beer_ratio = df_portions_ratio_nonzero_sorted_by_beer_ratio_desc.tail(5)
display(df_portions_ration_nonzero_bottom_5_beer_ratio)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,total_servings,beer_ratio,spirit_ratio,wine_ratio
7,Armenia,21,179,11,3.8,211,0.099526,0.848341,0.052133
167,Syria,5,35,16,1.0,56,0.089286,0.625000,0.285714
77,India,9,114,0,2.2,123,0.073171,0.926829,0.000000
137,Qatar,1,42,7,0.9,50,0.020000,0.840000,0.140000
73,Haiti,1,326,1,5.9,328,0.003049,0.993902,0.003049

### 3.1 Consumo de destilados.

In [1691]:
df_portions_ratio_nonzero_sorted_by_spirit_ratio_desc = df_portions_ratio_nonzero.query('spirit_ratio > 0').sort_values(by='spirit_ratio', ascending=False)

In [1692]:
df_portions_ratio_nonzero_top_5_spirit_ratio = df_portions_ratio_nonzero_sorted_by_spirit_ratio_desc.head(5)
display(df_portions_ratio_nonzero_top_5_spirit_ratio)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,total_servings,beer_ratio,spirit_ratio,wine_ratio
149,Saudi Arabia,0,5,0,0.1,5,0.000000,1.000000,0.000000
73,Haiti,1,326,1,5.9,328,0.003049,0.993902,0.003049
77,India,9,114,0,2.2,123,0.073171,0.926829,0.000000
168,Tajikistan,2,15,0,0.3,17,0.117647,0.882353,0.000000
96,Liberia,19,152,2,3.1,173,0.109827,0.878613,0.011561

In [1693]:
df_portions_ration_nonzero_bottom_5_spirit_ratio = df_portions_ratio_nonzero_sorted_by_spirit_ratio_desc.tail(5)
display(df_portions_ration_nonzero_bottom_5_spirit_ratio)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,total_servings,beer_ratio,spirit_ratio,wine_ratio
164,Swaziland,90,2,2,4.7,94,0.957447,0.021277,0.021277
189,Vietnam,111,2,1,2.0,114,0.973684,0.017544,0.008772
39,Congo,76,1,9,1.7,86,0.883721,0.011628,0.104651
117,Namibia,376,3,1,6.8,380,0.989474,0.007895,0.002632
31,Cameroon,147,1,4,5.8,152,0.967105,0.006579,0.026316

### 3.1 Consumo de vinho.

In [1694]:
df_portions_ratio_nonzero_sorted_by_wine_ratio_desc = df_portions_ratio_nonzero.query('wine_ratio > 0').sort_values(by='wine_ratio', ascending=False)

In [1695]:
df_portions_ratio_nonzero_top_5_wine_ratio = df_portions_ratio_nonzero_sorted_by_wine_ratio_desc.head(5)
display(df_portions_ratio_nonzero_top_5_wine_ratio)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,total_servings,beer_ratio,spirit_ratio,wine_ratio
55,Equatorial Guinea,92,0,233,5.8,325,0.283077,0.000000,0.716923
171,Timor-Leste,1,1,4,0.1,6,0.166667,0.166667,0.666667
92,Laos,62,0,123,6.2,185,0.335135,0.000000,0.664865
83,Italy,85,42,237,6.5,364,0.233516,0.115385,0.651099
148,Sao Tome & Principe,56,38,140,4.2,234,0.239316,0.162393,0.598291

In [1696]:
df_portions_ration_nonzero_bottom_5_wine_ratio = df_portions_ratio_nonzero_sorted_by_wine_ratio_desc.tail(5)
display(df_portions_ration_nonzero_bottom_5_wine_ratio)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,total_servings,beer_ratio,spirit_ratio,wine_ratio
134,Philippines,71,186,1,4.6,258,0.275194,0.720930,0.003876
73,Haiti,1,326,1,5.9,328,0.003049,0.993902,0.003049
169,Thailand,99,258,1,6.4,358,0.276536,0.720670,0.002793
117,Namibia,376,3,1,6.8,380,0.989474,0.007895,0.002632
72,Guyana,93,302,1,7.1,396,0.234848,0.762626,0.002525