## 5. Proporção do tipo de bebida mais consumido no mundo.

In [1]:
import pandas as pd

In [2]:
datasetPath = '../data/drinks.csv'
df = pd.read_csv(datasetPath)

In [3]:
total_beer = df['beer_servings'].sum()
total_wine = df['wine_servings'].sum()
total_spirit = df['spirit_servings'].sum()

totals = pd.DataFrame({
    'Bebida': ['Cerveja', 'Vinho', 'Destilado'],
    'Total de Porções': [total_beer, total_wine, total_spirit]
})

totals_sorted = totals.sort_values(by='Total de Porções', ascending=False).reset_index(drop=True)

display(totals_sorted)

      Bebida  Total de Porções
0    Cerveja             20489
1  Destilado             15632
2      Vinho              9544